tqdm
numpy==1.23.1
numexpr==2.8.0
h5py==3.1.0
opencv-python==4.5.1.48
ffmpeg-python==0.1.17
scikit-image==0.18.3
scipy==1.6.1
colorama
tensorflow-gpu==2.10.1
pyqt5
tf2onnx==1.16.0
Flask==1.1.1
flask-socketio==4.2.1
tensorboardX
crc32c
jsonschema
onnx==1.14.1
onnxruntime-gpu==1.14.1
PyYAML
protobuf==3.20.2